/*
author:mayanli;
data:2014-6-25;
*/
body {color: #333;}
a {text-decoration: none; color: #1b98f8;}

/*some of the button styles to make my buttons look unique*/
.primary-button,.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
}
.primary-button{
    color: #fff;
    background: #1b98f8;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}
.button-success,.button-error,.button-warning,.button-secondary,.button-add{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
    background: rgb(28, 184, 65); /*green */
}
.button-error {
    background: rgb(202, 60, 60); /*maroon */
}
.button-warning {
    background: rgb(223, 117, 20); /*orange */
}
.button-secondary {
    background: rgb(66, 184, 221); /*light blue */
}
.button-add{
    background: #1b98f8;
}

/*add menu pop-up box, applied all pages*/
.setup{
    position: absolute; left: 50%; top: 30%; margin-left: -130px;
    width: 240px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 0px 2px #ccc;
    display: none;
}
.setup .pure-u-1-3{width: 100%; margin-bottom: 1em;}
.setup .pure-u-1-3 label{text-align: center; padding: 10px 0px;}
.setup .pure-u-1-3 input{margin: 0 auto;}
.setup .pure-u-1-3 input.error{border-color:red;}
.ml22{
    margin-left: 2.2em;
    float: left;
}
.mr22{
    margin-right: 2.2em;
    float: right;
}


/* This layout consists of three main elements,but different page corresponding to the different layout, A total of three.*/
#layout, #nav, #list, #main,#wrap {
    margin: 0;
    padding: 0;
}
/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: rgb(37, 42, 58);
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu.pure-menu-open {
    background: transparent;
    border: none;
    text-align: left;
}
#nav .pure-menu a:hover,
#nav .pure-menu a:focus {
    background: rgb(55, 60, 90);
}
#nav .pure-menu a {
    color: #fff;
    padding-left: 16px;
}
#nav .pure-menu .second-menu a{
    font-size: 0.8em;
    padding-left: 2em;
}
 
#nav .pure-menu-heading {
    border-bottom: none;
    font-size:110%;
    color: rgb(75, 113, 151);
}
#nav .pure-menu.pure-menu-open ul{
    position: static;
    visibility: visible;
}

/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */
.email-count {
    color: rgb(75, 113, 151);
}

.email-label-personal,
.email-label-work,
.email-label-travel {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
    line-height: 1.0em;
    text-align: center;
    font-weight: bold;
}
.email-label-personal {
    background: #ffc94c;
    text-indent: -999em;
}
.email-label-work {
    background: #41ccb4;
}
.email-label-travel {
    background: #40c365;
}


/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
.email-avatar {
    border-radius: 3px;
    margin-right: 0.5em;
}
.email-name,
.email-subject {
    margin: 0;
}
.email-name {
    text-transform: uppercase;
    color: #999;
}
.email-desc {
    font-size: 80%;
    margin: 0.4em 0;
}

.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #1b98f8;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
}
.email-content-header {
    border-bottom: 1px solid #ddd;
}

    .email-content-title {
        margin: 0.5em 0 0;
    }
    .email-content-subtitle {
        font-size: 1em;
        margin: 0;
        font-weight: normal;
    }
        .email-content-subtitle span {
            color: #999;
        }
.email-content-controls {
    margin-top: 2em;
    text-align: right;
}
    .email-content-controls .secondary-button {
        margin-bottom: 0.3em;
    }

.email-avatar {
    width: 40px;
    height: 40px;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /*以下是针对首页的css*/
    #wrap{
        padding-left:150px; /* "left col (nav + list)" width */
        position: relative;  
    }
    #wrap #nav {
        margin-left:-150px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }
    /*以上是针对首页的css*/


    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list, #result{
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 4em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list,#result{
        margin-left: -350px;
        width: 100%;
        height: 33%;
        border-bottom: 1px solid #ddd;
    }

    #layout #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -350px;
        width:350px;
        height: 100%;
        border-right: 1px solid #ddd;
    }
    /*书写文档页的样式*/
    #result {
        margin-left: -350px;
        width:45%;
        height: 100%;
        border-right: 1px solid #ddd;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #layout #main {
        position: static;
        margin: 0;
        padding: 0;
    }
}
